In [1]:
import os, sys, time, resource, re, gc, shutil
from multiprocess import Pool
from functools import partial
from tabulate import tabulate
from urllib.parse import urlparse, parse_qsl

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from mongoengine.queryset.visitor import Q
import django
from django.db.models import Count, Sum
sys.path.append('/home/galm/software/tmv/BasicBrowser/')
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "BasicBrowser.settings")
django.setup()

from django.forms.models import model_to_dict

from scoping.models import *
from tmv_app.models import *
from cities.models import *
from scipy import stats
import ipy_table as tbl

run_id = 96
qid = 1053

In [2]:
import spacy
from geotext import GeoText
nlp = spacy.load('en')
doc = nlp(u'London is a big city in the United Kingdom.')
docs = Doc.objects.filter(query=qid,cities__isnull=True)
print(docs.count())

docplaces = 0

spacy = False
geotext = True

for d in docs:
    if spacy:
        doc = nlp(d.content)
        #print(d.content)
        places = [x for x in doc.ents if x.label_=="GPE"]
        if len(places) > 0:
            docplaces+=1
            print("############### \n## SPACY")
            for place in places:
                print(place.label_, place.text)
                try:
                    dbc = City.objects.filter(
                        name__unaccent=place.text
                    ).order_by('-population').first().name_std
                except:
                    dbc = "not found"
                print(dbc)
 
    if geotext:
        gplaces = set(GeoText(d.content).cities)
        if len(gplaces) > 0:
            for place in gplaces:
                try:
                    dbc = City.objects.filter(
                        alt_names__name__unaccent=place
                    ).order_by('-population').first()
                    d.cities.add(dbc)
                    docplaces+=1
                except:
                    dbc = "not found"
        
print(docplaces)

7166
3349

In [51]:
badcities = ['Metro','Most','Sim','Young','University','Green','Much','Mobile','Federal','Along','Of','Laplace']
cities = City.objects.filter(doc__query=qid).exclude(name__in=badcities)
cities = cities.annotate(
    n = Count('doc')
).order_by('-n').values('name','country__name','n','location')

docs = Doc.objects.filter(query=qid,cities__isnull=False).exclude(cities__name__in=badcities)
print(docs.count())

2696

In [52]:
df = pd.DataFrame.from_dict(list(cities))
df.to_csv("../data/place_mentions.csv")
df.head(135)

      country__name                location    n              name
0    United Kingdom    [-0.12574, 51.50853]  117            London
1     United States   [-74.00597, 40.71427]  102     New York City
2             China    [116.39723, 39.9075]  102           Beijing
3            Sweden     [18.0649, 59.33258]   73         Stockholm
4             China   [121.45806, 31.22222]   43          Shanghai
5         Australia  [151.20732, -33.86785]   41            Sydney
6            Canada    [-79.4163, 43.70011]   39           Toronto
7             Chile  [-70.64827, -33.45694]   38          Santiago
8         Australia    [144.96332, -37.814]   38         Melbourne
9     United States  [-122.67621, 45.52345]   36          Portland
10    United States  [-118.24368, 34.05223]   36       Los Angeles
11            Spain     [-3.70256, 40.4165]   36            Madrid
12    United States   [-87.65005, 41.85003]   35           Chicago
13           Mexico   [-99.12766, 19.42847]   33       Mexico City
14    United States   [-77.03637, 38.89511]   32  Washington, D.C.
15    United States   [-89.38456, 42.92611]   31            Oregon
16           France      [2.3488, 48.85341]   30             Paris
17    United States  [-122.41942, 37.77493]   29     San Francisco
18           Greece    [23.71622, 37.97945]   28            Athens
19        Australia  [153.02809, -27.46794]   26          Brisbane
20      South Korea      [126.9784, 37.566]   26             Seoul
21            India    [77.23149, 28.65195]   23             Delhi
22           Brazil  [-49.27306, -25.42778]   23          Curitiba
23         Colombia    [-73.08644, 7.06222]   22     Floridablanca
24    United States  [-122.33207, 47.60621]   22           Seattle
25    United States  [-117.65089, 34.06334]   22           Ontario
26   United Kingdom    [-3.19648, 55.95206]   21         Edinburgh
27            Spain     [2.15899, 41.38879]   20         Barcelona
28          Ireland    [-6.24889, 53.33306]   20            Dublin
29    United States     [-84.38798, 33.749]   20           Atlanta
..              ...                     ...  ...               ...
105  United Kingdom    [-1.54785, 53.79648]    6             Leeds
106   United States  [-111.03856, 45.67965]    6           Bozeman
107       Argentina  [-58.37723, -34.61315]    6      Buenos Aires
108         Germany    [10.01534, 53.57532]    6           Hamburg
109          Canada  [-114.08529, 51.05011]    6           Calgary
110   United States   [-122.2708, 37.80437]    6           Oakland
111   United States  [-122.27275, 37.87159]    5          Berkeley
112           India    [78.45636, 17.38405]    5         Hyderabad
113           China   [118.08187, 24.47979]    5            Xiamen
114   United States  [-115.13722, 36.17497]    5         Las Vegas
115           India    [80.27847, 13.08784]    5           Chennai
116  United Kingdom    [-5.92541, 54.59682]    5           Belfast
117       Sri Lanka     [79.84778, 6.93194]    5           Colombo
118        Colombia     [-76.5225, 3.43722]    5              Cali
119  United Kingdom    [-1.40428, 50.90395]    5       Southampton
120          Serbia    [19.83694, 45.25167]    5          Novi Sad
121            Iran    [59.56796, 36.31559]    5           Mashhad
122           Italy    [13.77678, 45.64953]    5           Trieste
123           China   [112.97087, 28.19874]    5          Changsha
124   United States   [-84.19161, 39.75895]    5            Dayton
125   United States   [-78.89862, 35.99403]    5            Durham
126     Philippines     [120.9822, 14.6042]    5            Manila
127   United States    [-81.69541, 41.4995]    4         Cleveland
128           India    [88.36304, 22.56263]    4           Kolkata
129          Taiwan   [120.31333, 22.61626]    4         Kaohsiung
130        Ethiopia     [38.74689, 9.02497]    4       Addis Ababa
131   United States   [-81.03481, 34.00071]    4          Columbia
132           Kenya    [36.81667, -1.28333]    4           Nairobi
133           Ghana      [-0.1969, 5.55602]    4             Accra
134            Peru  [-77.02824, -12.04318]    4              Lima

[135 rows x 4 columns]

In [50]:
aldocs = Doc.objects.filter(cities__name="Laplace")
for al in aldocs:
    print(al.content)

In this paper, a self-adaptive tolling strategy (SATS) is developed for dynamically and systematically enhancing high-occupancy toll (HOT) lane system operations. This strategy enhances the overall system performance of both the HOT and general purpose (GP) lanes by better utilizing the HOT lane capacity while maintaining high speed and/or high travel-time reliability for HOT lane traffic when GP lanes are congested. To formulate SATS, the Lighthill-Whitham-Richards kinematic wave model is used to characterize HOT lane traffic flow evolution, and the unilateral Laplace transform is used to convert the system representation from the time domain to the frequency domain. Then, an adaptive tolling controller is designed with both the proportional and integral control components. Real-time traffic measurements, including lane occupancy, average speed, and flow rate, are utilized for toll rate calculations. Following a dual-phase control scheme, the appropriate flow rate for HOT lane utilization is computed, and the corresponding toll is estimated backward. To examine the effectiveness of the proposed tolling strategy, microscopic traffic simulation experiments are conducted using VISSIM. The experiment results demonstrate that the proposed tolling strategy performs reasonably well in improving the overall operations of HOT lane systems under various traffic conditions.
Designing low-energy buildings has become a necessity, encouraged by thermal regulations, the need for energy savings and environmental awareness. Computer-aided thermal design of building walls is currently investigated using the latest optimization algorithms. This paper studies building multilayer walls by coupling a direct thermal model with a specific optimization algorithm. The direct problem solution is based on the Laplace transform of the quadrupole method, and then translated by numerical inversion into the time domain by the Fourier series method. The optimization model minimizes a least squares criterion between intended indoor temperatures and a direct response model. The work aims to optimize the thermal insulation and the heat capacity of wall layers and further building heating loads. An indoor temperature evolution is specified under fixed outdoor conditions in order to identify the composition of the building walls using an inverse resolution based on a reflective Newton algorithm applied to a direct quadrupole model. (C) 2013 Elsevier B.V. All rights reserved.